---
layout: default
title: Index
---

<h3>Recent Posts</h3>
<div class="posts">
{% for post in paginator.posts %}
  <article class="post">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p>
      <span>Posted on {{ post.date | date_to_string }}</span>
    </p>

    {{ post.content }}
  </article>
{% endfor %}
</div>

<footer>
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    <span class="page_number">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
  </div>
</footer>
