<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eric's Devblog - {{ page.title }}</title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20355001-3']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/solarized-light.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="alternate" type="application/rss+xml" title="Eric's Devblog » Feed" href="http://feeds.feedburner.com/EricsDevblog">
    <style type="text/css">
      .container {
        margin-top: 50px;
      }

      .photo {
        margin-bottom: 15px;
      }

      body {
        padding-bottom: 50px;
      }

      article {
        padding-bottom: 50px;
        border-bottom: 1px solid #EEE;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1><a href="/">Eric Oestrich</a></h1>
      </div>
      <div class="row">
        <div class="span9">
          {{ content }}
        </div>
        <div class="span3">
          <div class="photo">
            <img alt="Eric Oestrich" src='http://gravatar.com/avatar/3f6a677a3353dbe196ccfc0e63f66070.png?s=100' />
          </div>
          <div class="i-am">
            I am:
            <ul>
              <li><a href='https://plus.google.com/101353039173891059280?rel=author'>Eric Oestrich</a> on Google+</li>
              <li><a href='http://www.linkedin.com/pub/eric-oestrich/28/431/32'>Eric Oestrich</a> on LinkedIn</li>
              <li><a href='http://twitter.com/EricOestrich'>EricOestich</a> on Twitter</li>
              <li><a href='https://github.com/oestrich'>oestrich</a> on Github</li>
              <li><a href='http://www.ohloh.net/accounts/oestrich'>oestrich</a> on Ohloh</li>
              <li><a href='http://sourceforge.net/users/oestrich'>oestrich</a> on SourceForge</li>
              <li><a href='http://drupal.org/user/514974'>oestrich</a> on Drupal.org</li>
            </ul>
          </div>

          <div>
            <a href="/all.html">All posts</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
